@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative','Roboto';
}

.loginmain{
    display: flex;
    padding: 0 30px ;
    width: 350px;
    background-color: white;
    align-items: center;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginbt{
    width: 100%;
    text-align: center;
}

.loginbt p{
    margin-top: 5px;
    font-size: 16px;
}

.loginbt a{
    text-decoration: underline;
}

.loginbody{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf2f6;
}

.loginmain button{
    width: 100%;
}

.loginlogo{
    font-size: 36px;
    font-weight: 800;
}

.loginlogo span{
    color:#805AD5;
}

.setbut{
    width: 100%;
}

.setdash{
    border: 2px solid red;
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #edf2f6;
    flex-direction: column;
}

.prmf,.prme{
    width: 100%;
}

.prm{
    width: calc(100vw - 250px);
    height: 100vh;
    border: 2px solid red;
}

.prme{
    display: flex;
    justify-content: space-evenly;
}

.prms{
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    border: 2px solid red;

}

.setm{
    display: flex;
}

.setdash button{
    width: 100%;
    margin-bottom: 30px;
}

.setlogo{
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 100px;
}

.setav{
    margin-top: 200px;
    margin-bottom: 50px;
}

.setlogo span{
    color: #805AD5;
}




.pbm{
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover{
    cursor: pointer;
}

.pblnk{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pnlnki a{
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.pbname{
    margin-top : 20px;
    width: 100%;
    font-size: 36px;
    font-weight: 800px;
    text-align: center;
}

.pbbio{
    padding: 20px 0;
    text-align: center;
}


.pnlnki{
    margin-bottom: 20px; 
    width: 100%;
    display: flex;
    font-weight: 800;
    background-color: #805AD5;
    padding: 10px;
    color: white;
}

.pnlnki:hover{
    background-color: white;
    color: #805AD5;
    border: 2px solid #805AD5;
}


.pnlnki img{
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
}


.pblogo{
    font-weight: 800;
    font-size: 48px;
}

.pblogo span{
    color: #805AD5;
}

.pnlnki button{
    width: 100%;
}



.hmb{
    background-image: linear-gradient(#00b4d8,#03045e);
    width: 100vw;
    height: 100vh;
    font-size: 36px;
    color: black;
    font-weight: 800;
}

.hmnav{
    display: flex;
    justify-content: space-between;
}

.hmnav button{
    margin: 20px;
    font-size: 24px;
    color: white;
    background-color: purple;
    border-radius: 15px;
    border-width: 0px;
    padding: 10px 20px;
}
.hmc button{
    margin: 20px;
    font-size: 24px;
    color: white;
    background-color: purple;
    border-radius: 15px;
    border-width: 0px;
    padding: 10px 20px;
}

.hmc p{
    font-size: 18px;
}

.hmc a{
    color: white;
}


.hmb span{
    color: blueviolet;
}

.hmlogo{
    margin: 20px;
}


.hmc{
    color: white;
    margin-top: 15%;
    font-size: 48px;
    text-align: center;
}

.hmc span{
    font-size: 36px;
}


@media (max-width:750px)
{
    .pbm{
        margin: 20px 10px;
    }
}